$color-primary: rgb(207, 182, 150);
$color-primary-alpha: rgba(207, 182, 150, 0.4);
$color-secondary: rgb(148, 116, 75);

$color-tan-light: rgb(230, 219, 205);

$color-white-muted: rgb(240, 240, 240);

$color-font-dark: rgb(26, 25, 25);

$color-border: rgb(172, 171, 171);
