@import "../../sass/colors";
@import "../../sass/dimensions";
@import "../../sass/fonts";

#messagepage-wrapper {
  width: 100vw;
  height: 100%;
  min-height: 100vh;
}

#messagepage-container {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: $font-primary;
  padding: $padding-small;

  h1 {
    width: 100%;
    height: $font-medium;
    font-size: $font-medium;
    font-weight: $font-weight-heavy;
    margin-bottom: 30px;
    padding-left: 10%;
  }

  label {
    width: 100%;
    height: $font-small;
    font-size: $font-small;
    font-weight: $font-weight-medium;
    margin-bottom: 10px;
    padding-left: 10%;
  }

  textarea {
    border-radius: 10px;
    margin-bottom: 60px;
    padding: 10px;
  }
}

@media (min-width: $break-medium) {
  #messagepage-container {
    width: 500px;
    margin: 0 auto;
  }
}
