@import "../../sass/dimensions";
@import "../../sass/colors";

.marker {
  width: 40px;
  height: $marker-height;
  background-color: $color-border;
  margin-top: 30px;
}

.marker-active {
  background-color: $color-secondary;
}

@media (min-width: $break-medium) {
  .marker {
    height: 10px;
    width: 100px;
  }
}
