@import "../../sass/colors";
@import "../../sass/dimensions";
@import "../../sass/fonts";

#onpage3-container {
  width: 100%;
  height: 100vh;
  background-color: $color-primary-alpha;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: $font-primary;
  padding: $padding-small;

  div {
    display: flex;
    justify-content: center;
  }

  #flipped {
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
  }

  h2 {
    font-size: $font-big;
    font-weight: $font-weight-heavy;
  }

  h3 {
    font-size: $font-medium;
    font-weight: $font-weight-light;
    text-align: center;
    margin-top: 10px;
  }

  img {
    width: 170px;
    height: 300px;
  }
}
