@import "../../sass/colors";
@import "../../sass/dimensions";
@import "../../sass/fonts";

#login-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 20px;
  height: 100%;
  min-height: 100vh;
  width: 100vw;
  padding: $padding-small;

  h1 {
    font-family: $font-primary;
    font-size: $font-medium;
    font-weight: $font-weight-medium;
    color: black;
    margin-bottom: 10px;
    margin-top: 60px;
  }
}

.form-container {
  width: 100%;
  margin-bottom: 20px;

  label {
    font-size: $font-tiny;
    font-weight: $font-weight-heavy;
  }

  input {
    margin-top: 10px;
    margin-bottom: 30px;
    width: 100%;
    height: 36px;
    border: 1px solid $color-border;
    border-radius: 12px;
    text-align: center;
  }
}

@media (min-width: $break-medium) {
  .form-container {
    width: 90%;
    max-width: 800px;
  }
}
