.container {
    background-position: center;
    background-repeat: no-repeat;
    background-size: auto;
    height:100%;
    
}

.btn{
    background: #E8D2B1;
border: 1px solid #E5E5E5;
box-sizing: border-box;
border-radius: 100px;
}

